use nix default.nix --indirect --add-root $HOME/.nix-gc-roots/cmake-recipes.drv
export SOURCE_DATE_EPOCH=$(date +%s)
dir_hash=cmake-recipes-$(echo -n cmake-recipes | shasum | cut -d ' ' -f 1)
direnv_layout_dir=$XDG_CACHE_HOME/direnv/layouts/$dir_hash
layout python `type -P python` --system-site-packages
pip install -r requirements.txt
export NINJA_STATUS="[Built edge %f of %t in %e sec]"
