[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

breathe = "*"
cffi = "*"
colorama = "*"
cython = "*"
docopt = "*"
numpy = "*"
pathlib = "*"
pycodestyle = "*"
pyyaml = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-bibtex = "*"
typing = "*"


[dev-packages]

